agentmail==0.5.9
annotated-types==0.8.0
anyio==4.14.2
asgiref==3.12.1
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
coverage==7.15.4
crispy-bootstrap5==2026.3
cryptography==50.0.1
Django==6.1
django-crispy-forms==2.7
django-environ==0.14.0
django-filter==26.1
gunicorn==26.2.0
idna==3.19
iniconfig==2.3.0
packaging==26.3
pillow==12.3.0
pip==26.2.1
pluggy==1.6.0
psycopg==3.3.4
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.21.0
pyOpenSSL==26.4.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
requests==2.34.2
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0