{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}SportsHub{% endblock %}</title>

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    >

    <link
        rel="icon"
        type="image/x-icon"
        href="{% static 'sports_hub_app/icons/favicon.ico' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'sports_hub_app/css/base.css' %}"
    >

    {% block extra_head %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand d-flex align-items-center" href="/">
                <img
                    src="{% static 'sports_hub_app/images/logo.svg' %}"
                    alt="SportsHub Logo"
                    height="40"
                    width="150"
                    class="d-inline-block align-text-top me-2"
                    style="margin-left: -90px;"
                >
            </a>

            <div class="navbar-nav">
                <a class="nav-link" href="/products/">
                    Products
                </a>
            </div>

        </div>
    </nav>

    <main class="container py-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">SportsHub</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    {% block extra_scripts %}{% endblock %}

</body>
</html>
