{% extends "sports_hub_app/base.html" %}

{% block content %}
<div class="container mt-4">

    <h1 class="text-center">Change Password</h1>

    <p class="text-center">
        Change your account password
    </p>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="text-center">
            <button type="submit">
                Change Password
            </button>
        </div>
    </form>

    <div class="text-center">
        <a href="{% url 'profile' %}">
            Back to Profile
        </a>
    </div>

</div>
{% endblock %}