{% extends "sports_hub_app/base.html" %}

{% block content %}
<div class="settings-container">
    <h1 class="text-center">Account Settings</h1>

    <div class="settings-card">
        <ul>
            <li>
                <a href="{% url 'update_account' %}">
                    Update Account Details
                </a>
            </li>

            <li>
                <a href="{% url 'change_password' %}">
                    Change Password
                </a>
            </li>

            <li>
                <a href="{% url 'delete_account' %}">
                    Delete Account
                </a>
            </li>
        </ul>
    </div>

    <div class="text-center">
        <a href="{% url 'profile' %}" class="btn-back">
            Back to Profile
        </a>
    </div>
</div>
{% endblock %}