<div class="col-md-12 mb-3">
    <div class="card p-3">

        <div class="d-flex align-items-center justify-content-between">

            <div class="d-flex align-items-center flex-grow-1">
                <img src="{{ item.product.image.url }}"
                     alt="{{ item.product.name }}"
                     style="width:90px; height:80px; object-fit:contain; border-radius:6px;">
                <h5 class="mb-0 ms-3">{{ item.product.name }}</h5>
            </div>

            <div class="text-centre" style="width:70px;">

                <p class="text-muted mb-1">€{{ item.product.price }}</p>

                <div class="d-flex justify-content-end align-items-center mb-2">
                    <a href="{% url 'decrease_quantity' item.id %}"
                       class="btn btn-outline-secondary btn-sm">−</a>

                    <span class="mx-2">{{ item.quantity }}</span>

                    <a href="{% url 'increase_quantity' item.id %}"
                       class="btn btn-outline-secondary btn-sm">+</a>
                </div>

                <a href="{% url 'remove_from_cart' item.id %}"
                   class="btn btn-outline-danger btn-sm">
                    Remove
                </a>

            </div>

        </div>

    </div>
</div>
